<div class="mat-elevation-z8">
  <div class="flex-center">
    <h1>არააქტიური კომპანიები</h1>
  </div>

  <div class="filter-field">
    <mat-form-field>
      <input matInput (keyup)="applyFilterToInactiveCompanies($event)" placeholder="ფილტრი" #input autocomplete="off">
    </mat-form-field>
  </div>

  <div class="companies-table">
    <table mat-table [dataSource]="inactiveCompaniesDataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>კომპანიის სახელი</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>მონიშნე</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox color="primary" (change)="checkCompanyToSave(element.id)" [checked]="isChecked(element.id)">
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedCompaniesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedCompaniesColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">არააქტიური კომპანია არ მოიძებნა"{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" class="paginator" showFirstLastButtons class="paginator"></mat-paginator>
  </div>

  <button mat-raised-button color="primary" class="save-companies-button"
          (click)="saveCompanies()" [loading]="saveButtonLoading"
          [disabled]="companiesToSaveArray.length <= 0">
    შენახვა
  </button>
</div>
