<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
<!--    <mat-card-header>-->
<!--      <mat-card-title>Login</mat-card-title>-->
<!--    </mat-card-header>-->

    <form class="example-form" [formGroup]="loginFormGroup">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button class="btn-block"
              (click)="submitCredentials()"
              [disabled]="buttonLoading" id="login-button">
        Login
      </button>
    </form>
  </mat-card>

</div>
