<div>
  <h2 mat-dialog-title style="text-align: center">Change</h2>

  <mat-dialog-content>
    <div>ID: {{ userData.id }}</div>
    <div>Status: {{ userData.isActive }}</div>
    <div>Registration date: {{ userData.addedAt | date:'dd-MM-yyyy' }}</div>
  </mat-dialog-content>

  <form [formGroup]="updateUserFormGroup">
    <div style="margin-top: 20px">
      <mat-form-field style="width: 100%; margin-top: 10px">
        <input matInput placeholder="name" formControlName="name">
        <div class="text-danger" *ngIf="updateUserFormGroup.get('name')?.errors?.minlength">
          <small style="color:rgba(255,0,0,0.6);">Name should consist of min 2 symbols.</small>
        </div>
        <div class="text-danger" *ngIf="updateUserFormGroup.get('name')?.errors?.maxlength">
          <small style="color:rgba(255,0,0,0.6);">Name exceeds max allowed symbols.</small>
        </div>
      </mat-form-field>

      <mat-form-field style="width: 100%; margin-top: 10px">
        <input matInput placeholder="IP address" formControlName="ipAddress">
        <div class="text-danger" *ngIf="updateUserFormGroup.get('ipAddress')?.errors?.maxlength">
          <small style="color:rgba(255,0,0,0.6);">IP address exceeds max allowed symbols.</small>
        </div>
        <div class="text-danger" *ngIf="updateUserFormGroup.get('ipAddress')?.errors?.pattern">
          <small style="color:rgba(255,0,0,0.6);">Invalid format.</small>
        </div>
      </mat-form-field>

      <mat-form-field style="width: 100%; margin-top: 10px">
        <input matInput placeholder="Page URL" formControlName="returnUrl">
        <div class="text-danger" *ngIf="updateUserFormGroup.get('returnUrl')?.errors?.maxlength">
          <small style="color:rgba(255,0,0,0.6);">Page URL exceeds max allowed symbols.</small>
        </div>
        <div class="text-danger" *ngIf="updateUserFormGroup.get('returnUrl')?.errors?.pattern">
          <small style="color:rgba(255,0,0,0.6);">Invalid format.</small>
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option [value]="user" *ngFor="let user of Roles">{{user}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions class="float-right">
    <button mat-raised-button color="primary" id="submit-button"
            style="margin-right: auto; margin-left: auto; display: block; color:white;"
            [loading]="submitButtonLoading"
            [disabled]="!updateUserFormGroup.valid"
            (click)="submit()" *ngIf="!saveRequestSubmitted">Save</button>
    <button mat-raised-button color="accent"
            style="margin-right: auto; margin-left: auto; display: block;"
            (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</div>



