<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Change password</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="passwordFormGroup">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter old password" formControlName="oldPassword"
                 [type]="hideOld ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
          <div class="text-danger" *ngIf="passwordFormGroup.get('oldPassword')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">Password exceeds maximum allowed symbols.</small>
          </div>
          <div class="text-danger" *ngIf="passwordFormGroup.get('oldPassword')?.errors?.minlength">
            <small style="color:rgba(255,0,0,0.6);">Password should consist of min 8 characters.</small>
          </div>
          <div class="text-danger" *ngIf="passwordFormGroup.get('oldPassword')?.errors?.pattern">
            <small style="color:rgba(255,0,0,0.6);">Only digits, symbols and Latin characters are allowed.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter new password" formControlName="newPassword"
                 [type]="hideNew ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          <div class="text-danger" *ngIf="passwordFormGroup.get('newPassword')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">Password exceeds maximum allowed symbols.</small>
          </div>
          <div class="text-danger" *ngIf="passwordFormGroup.get('newPassword')?.errors?.minlength">
            <small style="color:rgba(255,0,0,0.6);">Password should consist of min 8 characters.</small>
          </div>
          <div class="text-danger" *ngIf="passwordFormGroup.get('newPassword')?.errors?.pattern">
            <small style="color:rgba(255,0,0,0.6);">Only digits, symbols and Latin characters are allowed.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Repeat new password" formControlName="newPasswordDub"
                 [type]="hideNewDub ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideNewDub = !hideNewDub">{{hideNewDub ? 'visibility_off' : 'visibility'}}</mat-icon>
          <div class="text-danger" *ngIf="passwordFormGroup.get('newPasswordDub')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">Password exceeds maximum allowed symbols.</small>
          </div>
          <div class="text-danger" *ngIf="passwordFormGroup.get('newPasswordDub')?.errors?.minlength">
            <small style="color:rgba(255,0,0,0.6);">Password should consist of min 8 characters.</small>
          </div>
          <div class="text-danger" *ngIf="passwordFormGroup.get('newPasswordDub')?.errors?.pattern">
            <small style="color:rgba(255,0,0,0.6);">Only digits, symbols and Latin characters are allowed.</small>
          </div>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button class="btn-block"
              (click)="changePassword()"
              [disabled]="!passwordFormGroup.valid" id="password-change-button">
        Confirm
      </button>
    </form>
  </mat-card>

</div>
