<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>პაროლის ცვლილება</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="passwordFormGroup">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="შეიყვანეთ ძველი პაროლი" formControlName="oldPassword"
                 [type]="hideOld ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="შეიყვანეთ ახალი პაროლი" formControlName="newPassword"
                 [type]="hideNew ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="განმეორებით შეიყვანეთ ახალი პაროლი" formControlName="newPasswordDub"
                 [type]="hideNewDub ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideNewDub = !hideNewDub">{{hideNewDub ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button class="btn-block"
              (click)="changePassword()"
              [disabled]="buttonLoading" id="password-change-button">
        დადასტურება
      </button>
    </form>
  </mat-card>

</div>
