<form >
  <div class="flex-center">
    <mat-form-field style="width: 20%; margin-left: 40%;">
      <mat-label>კომპანიები</mat-label>
      <mat-select [formControl]="companiesMultiCtrl" multiple #multiSelect>
        <mat-option>
          <ngx-mat-select-search [formControl]="companiesFilterController"
                                 [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event)"
                                 placeholderLabel="მონიშნე" noEntriesFoundLabel="კომპანია არ მოიძებნა ">
          </ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let user of filteredCompanies | async" [value]="user.id">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<button mat-raised-button class="get-transactions-button" color="primary" id="search-button"
        (click)="emitFilteredCompanies()"
        [loading]="searchButtonLoading"
        [disabled]="!companiesMultiCtrl.valid">
  არჩევა
</button>
