h1 {
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Helvetica, serif;
  font-weight: bold;
}

.get-transactions-button {
  display: block;
  color: white;
  margin: 15px auto;
  margin-bottom: 10px
}

.mat-raised-button {
  font-family: Helvetica, serif;
}
