<mat-toolbar color="primary" class="app-header">
  <div><a href="#" target="_blank" class="positronx">Admin Panel Demo</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="dashboard" routerLinkActive="active">DASHBOARD</a>
    <a mat-button routerLink="login" routerLinkActive="active">LOGIN</a>
    <a mat-button routerLink="register" routerLinkActive="active">REGISTER</a>
    <a mat-button (click)="router.navigate(['/login'])">LOGOUT</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
