.mat-button {
  color: white;
  font-family: my_font, serif;
}

.mat-menu-item {
  font-family: my_font, serif;
  font-weight: bolder;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  margin: 20px;
  transform: scale(2);
}

.mat-icon-button:hover {
  color: lightslategrey !important;
}


