<div class="mat-elevation-z8" style="margin-top: 5%;">
  <div class="wrapper">
    <div class="flex-center">
      <h1>კომპანიების მიხედვით ძებნა</h1>
    </div>

    <div *ngIf="this.authService.hasRole('ROLE_ADMIN')">
      <app-transactions-filter></app-transactions-filter>
    </div>

    <div *ngIf="dataReceived || authService.hasRole('ROLE_USER')">
      <form [formGroup]="range" class="example-form">
        <div class="flex-center">
          <mat-form-field class="date-config" style="width: 20%; margin-left: 40%;">
            <mat-label>შეიყვანეთ დროის შუალედი</mat-label>
            <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
              <input formControlName="startDate" matStartDate placeholder="საწყისი თარიღი">
              <input formControlName="endDate" matEndDate placeholder="საბოლოო თარიღი">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </form>

      <button mat-raised-button class="transactions-button" color="primary"
              id="search-button"
              (click)="searchTransactions()"
              [loading]="searchButtonLoading"
              [disabled]="!range.valid">
        ძებნა
      </button>
    </div>
  </div>
</div>


<!--<app-transactions></app-transactions>-->
<div class="mat-elevation-z8" *ngIf="this.transactionsDataSource.data.length > 0">
  <div class="flex-center">
    <h1>ტრანზაქციები</h1>
  </div>

  <div class="filter-field">
    <mat-form-field >
      <input (keyup)="applyFilter($event)" matInput placeholder="ფილტრი">
    </mat-form-field>
  </div>

  <div *ngIf="transactionsDataSource.data.length > 0" class="transactions-table">
    <table mat-table class="mat-elevation-z8" [dataSource]="transactionsDataSource" matSort matSortStart="desc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ტრანზაქციის ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>თანხა</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="commission">
        <th mat-header-cell *matHeaderCellDef>საკომისიო</th>
        <td mat-cell *matCellDef="let element"> {{element.commission}} </td>
      </ng-container>

      <ng-container matColumnDef="invoiceData">
        <th mat-header-cell *matHeaderCellDef>ინვოისის მონაცემები</th>
        <td mat-cell *matCellDef="let element"> {{(element.invoiceData)}}</td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>თარიღი</th>
        <td mat-cell *matCellDef="let element"> {{(element.dateCreated | date:'dd-MM-yyyy')}}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>დეტალები</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="showDetails(element.details)">
            <!--                  [loading]="buttonLoading">-->
            <span class="material-icons" style="color: white">
                more_horiz
              </span>
          </button>

        </td>
      </ng-container>

      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef>გაუქმება</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="cancelTransaction(element.id)" [loading]="cancelButtonLoading">
              <span class="material-icons">
                delete_outline
              </span>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr mat-row *matNoDataRow>
        <td mat-cell colspan="4">ჩანაწერი არ მოიძებნა</td>
      </tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons class="paginator"></mat-paginator>
  </div>

  <button mat-raised-button class="transactions-button" color="primary"
          id="export-button"
          (click)="downloadExcel()"
          [loading]="exportButtonLoading"
          [disabled]="exportButtonLoading">
    ექსპორტი
  </button>
</div>
