<div>
  <h2 mat-dialog-title style="text-align: center">ტრანზაქციის დეტალები</h2>
  <mat-dialog-content>
    <div>მომხმარებლის ID : {{transactionData.userId}}</div>
    <div>გადახდის მეთოდი : {{transactionData.paymentSource}}</div>
    <div>ტრანზაქციის სტატუსი : {{transactionData.status}}</div>
  </mat-dialog-content>


  <mat-dialog-actions class="float-right">
    <button class="mat-raised-button"
            style="margin-right: auto; margin-left: auto; display: block;"
            (click)="closeDialog()">დახურვა</button>
  </mat-dialog-actions>
</div>
