<div class="dashboard">
  <div class="dashboard-buttons">
    <button mat-raised-button color="primary"
            routerLink="users" [routerLinkActive]="['active']"
            *ngIf="this.authService.hasRole('ROLE_ADMIN')">
      Companies
    </button>

    <button mat-raised-button color="primary"
            routerLink="register" [routerLinkActive]="['active']"
            *ngIf="this.authService.hasRole('ROLE_ADMIN')">
      Register a company
    </button>

    <button mat-raised-button color="primary"
            routerLink="transactions" [routerLinkActive]="['active']">
      Transaction history
    </button>

    <button mat-raised-button color="primary"
            routerLink="companies" [routerLinkActive]="['active']"
            *ngIf="this.authService.hasRole('ROLE_ADMIN')">
      Manage companies
    </button>
  </div>
</div>
