.dashboard-buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

button {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 15px;
  font-size: x-large;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  width: 100%;
  color: white;
}

button:hover {
  background-color: lightslategrey;
  box-shadow: 0 15px 20px rgba(191, 150, 56, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.mat-raised-button {
  color: white;
  font-family: my_font, serif;
  font-weight: bold;
}

.dashboard {
  width: fit-content;
  margin-left: 25%;
}
