h1 {
  height: auto;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: my_font, serif;
  font-weight: bolder;
}

.mat-header-cell {
  font-family: my_font, serif;
  font-size: larger;
  font-weight: bolder;
  padding: 30px;
}

.mat-cell {
  font-family: my_font, serif;
  font-size: larger;
  font-weight: bolder;
  padding: 30px;
}

.mat-table {
  text-align: center;
}

.transactions-table {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.download-transactions-button {
  display: block;
  color: white;
  margin: 15px auto;
}

button:hover {
  background-color: lightslategrey;
  /*box-shadow: 0 15px 20px rgba(64, 68, 58, 0.09);*/
  color: #fff;
  /*transform: translateY(-3px);*/
}

.filter-field {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
