<div class="mat-elevation-z8">
  <div class="flex-center">
    <h1>ტრანზაქციები</h1>
  </div>

  <div *ngIf="transactionsDataSource.data.length > 0" class="transactions-table">
    <table mat-table class="mat-elevation-z8" [dataSource]="transactionsDataSource" >

      <ng-container matColumnDef="transactionId">
        <th mat-header-cell *matHeaderCellDef>ტრანზაქციის ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>თანხა</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="commission">
        <th mat-header-cell *matHeaderCellDef>საკომისიო</th>
        <td mat-cell *matCellDef="let element"> {{element.commission}} </td>
      </ng-container>

      <ng-container matColumnDef="invoiceData">
        <th mat-header-cell *matHeaderCellDef>ინვოისის მონაცემები</th>
        <td mat-cell *matCellDef="let element"> {{(element.invoiceData)}}</td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>თარიღი</th>
        <td mat-cell *matCellDef="let element"> {{(element.dateCreated)}}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>დეტალები</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="showDetails(element.details)">
<!--                  [loading]="buttonLoading">-->
              <span class="material-icons" style="color: white">
                more_horiz
              </span>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr mat-row *matNoDataRow>
        <td mat-cell colspan="4">ჩანაწერი არ მოიძებნა</td>
      </tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons class="paginator"></mat-paginator>
  </div>

  <button mat-raised-button class="download-transactions-button" color="primary" (click)="downloadExcel()">
    ექსპორტი
  </button>
</div>
