<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register company</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerFormGroup">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="name" formControlName="name">
          <div class="text-danger" *ngIf="registerFormGroup.get('name')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">Name exceeds max allowed symbols</small>
          </div>
          <div class="text-danger" *ngIf="registerFormGroup.get('name')?.errors?.minlength">
            <small style="color:rgba(255,0,0,0.6);">Name should consist of min 2 symbols</small>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="username" formControlName="username">
          <div class="text-danger" *ngIf="registerFormGroup.get('username')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">Username exceeds max allowed symbols</small>
          </div>
          <div class="text-danger" *ngIf="registerFormGroup.get('username')?.errors?.minlength">
            <small style="color:rgba(255,0,0,0.6);">Username should consist of min 2 symbols</small>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="password" formControlName="password"
                 [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <div class="text-danger" *ngIf="registerFormGroup.get('password')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">Password exceeds max allowed symbols</small>
          </div>
          <div class="text-danger" *ngIf="registerFormGroup.get('password')?.errors?.minlength">
            <small style="color:rgba(255,0,0,0.6);">Password should contain min 8 symbols</small>
          </div>
          <div class="text-danger" *ngIf="registerFormGroup.get('password')?.errors?.pattern">
            <small style="color:rgba(255,0,0,0.6);">Only digits, symbols and Latin characters are allowed</small>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="IP address" formControlName="ipAddress">
          <div class="text-danger" *ngIf="registerFormGroup.get('ipAddress')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">IP address exceeds max allowed symbols</small>
          </div>
          <div class="text-danger" *ngIf="registerFormGroup.get('ipAddress')?.errors?.pattern">
            <small style="color:rgba(255,0,0,0.6);">Format is invalid</small>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Page URL" formControlName="returnUrl">
          <div class="text-danger" *ngIf="registerFormGroup.get('returnUrl')?.errors?.maxlength">
            <small style="color:rgba(255,0,0,0.6);">Page URL exceeds max allowed symbols</small>
          </div>
          <div class="text-danger" *ngIf="registerFormGroup.get('returnUrl')?.errors?.pattern">
            <small style="color:rgba(255,0,0,0.6);">Format is invalid</small>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Select role</mat-label>
          <mat-select formControlName="role">
            <mat-option [value]="user" *ngFor="let user of Roles">{{user}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Select status</mat-label>
          <mat-select formControlName="status">
            <mat-option [value]="status" *ngFor="let status of Statuses">{{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button class="btn-block"
              (click)="register()"
              [disabled]="!registerFormGroup.valid">
        Register
      </button>
    </form>
  </mat-card>
</div>
